.content,
.content.arrow {
    background: #ff6060;
    font-size: 24px;
    margin-top: 20px;
    padding: 5px 20px 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.description,
.description.arrow {
    background: #F6F6F6;
    font-size: 20px;
    padding: 20px 20px 7px 10px;
    border-radius: 5px;
    color: #ff6060;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.7s ease, opacity 0.7s ease;
    
}

.description.closed {
    opacity: 0;
    max-height: 0;
}
.description.opened{
    max-height: 1000px;
    opacity: 1;
}

@media screen and (max-width:1000px) {

    .content {
        font-size: 3vw;
        margin-top: 15px;
    }

    .description {
        font-size: 2vw;
        padding-top: 2.5vw
    }
}
@media screen and (max-width:600px) {
    .description {
        font-size: 12px;
        padding-top: 2.5vw
    }
}


    