.content {
    background: #ff6060;
    font-size: 24px;
    margin-top: 20px;
    padding: 5px 20px 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.description {
    background: #F6F6F6;
    font-size: 20px;
    padding: 20px 20px 7px 10px;
    border-radius: 5px;
    color: #ff6060;
    line-height: 1.5;
    visibility:hidden;
    max-height: 0;
    overflow: hidden;
  }
  
.description.closed {
    max-height: 0;
    transition: max-height 0.9s ease, visibility 0.9s ease;
  }
  
.description.opened {
    max-height: 1000px;
    visibility: visible;
    transition: max-height 1s ease-in-out;
  }
@media screen and (max-width:1000px) {

    .content {
        font-size: 13px;
        margin-top: 15px;
    }

    .description {
        font-size: 2vw;
        padding-top: 2.5vw
    }
}
@media screen and (max-width:600px) {
    .description {
        font-size: 12px;
        padding-top: 2.5vw
    }
}


    